html {
    font: 36px Arial, sans-serif;
    margin: 0;
    padding: 0;
    overflow-y: hidden; /* Hide vertical scrollbar */
    overflow-x: hidden; /* Hide horizontal scrollbar */
}

h4 {
    margin: 0;
}

body {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

#info {
    text-align: left;
    font-size: 20px;
    margin: 10px;
}

#timer, #solution, #combos {
    text-align: center;
    position: absolute;
    width: 100%;
}

#solution {
    top: 20%;
}

#combos {
    top: 70%;
}

#numbers {
    font: 50px Arial, sans-serif;
    position: absolute;
    display: flex;
    justify-content: center;
    left: 25%;
    top: 40%;
    width: 50%;
    height: auto;
}

.top, .bot {
    color: #CCC;
}

.number {
    border-style: solid;
    border-color: white;
    border-radius: 15px;
    border-width: 2px;
    margin: 0;
    padding: 0;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    flex-grow: 1;
}
